
.navbar{
  background-color: #14274E;

}
.navbar-brand{
  color: #F1F6F9;
  font-weight: bold;
  font-family: "Ubuntu";

}
.nav-link{
  color: #F1F6F9;

}
.container-fluid{
  padding: 3% 15%;
  background-color: #14274E;
}
.title{
  color: #F1F6F9;
  font-weight: bold;
}

.feature
{
  color:  #14274E;
  text-align: center;
  padding: 5%;


}
h3{
  font-family: "Montserrat-bold";
  font-weight: bold;
}
p{
  font-family: "Ubuntu";
  font-weight: bold;
  color: #394867;

}
#feature-box{
  padding: 5% 17%;

}
.icon{
  margin-bottom: 20px;
}
.icon:hover{

  color: #394867;
}

#doctors{
  background-color: #394867;
    color: #F1F6F9;
  text-align: center;
  font-family: Montserrat-Bolder;
}
.carousel-item{
  padding: 7% 15%;

}

.doctor-image{
  width:30%;
  border-radius: 10px;
}

#pricing{
  color:  #14274E;
  text-align: center;
  padding: 7% 15%;
}
#about{
  background-color:#9BA4B4;
  color: #14274E;
  padding : 5% 10%;
  text-align: center;

}

.icon1:hover{
  color: #394867;
}
